.euiFlexGroup--gutterMedium > .euiFlexItem.cluster-service-status-message {
    margin-bottom: 30px;
}

.euiFlexGroup--gutterMedium > .euiFlexItem.cluster-service-status-message p {
    white-space: pre;
}

.cluster-service-card {
    border-bottom: 1px solid #bcbdbf;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 9px;
}
